<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

	
	<title>My JSP 'list.jsp' starting page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	<!-- 公共 -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- 独特 -->

	<link href="resource/css/list.css" rel="stylesheet" type="text/css">
	<!-- 公共样式，因为要覆盖前面的，所以最后导入 -->
	<link rel="stylesheet" href="css/common.css" type="text/css" />
	<!-- 分页 -->
	
	
<link rel="stylesheet" href="schedule/schedule.css" type="text/css" />
<!-- CarouFredSel  -->
<script src="schedule/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="schedule/jquery.touchSwipe.min.js"></script>


	<script type="text/javascript">
		function toggleLayout(){
			var li = document.getElementsByName('items');
			for ( var i = 0; i < li.length; i++) {
				var oldStyle = li[i].getAttribute('class');
				var newAttr = document.createAttribute('class');
				newAttr.nodeValue = oldStyle == 'list_style1'?'list_style2':'list_style1';
				li[i].setAttributeNode(newAttr);
			}
		}
	</script>
</head>

<body>
	<div class="gridContainer clearfix">
		<div id="header">
	
		</div>
		
		<div id="title">
			<span>//${requestScope.categoryDisplayNme }</span>
		</div>

		<div class="container">
			
			<!-- Widget Schedule -->
				<div class="widget-container widget-schedule clearfix">
					
					<div class="carousel">
						<ul id="schedule">
							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Robin<br />Thicke</div>
									<div class="schedule-date">november 3rd</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-1.jpg" alt="" /></a></div>
									
								</div>
							</li>

							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Kyle<br />Minouge</div>
									<div class="schedule-date">january 25th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-2.jpg" alt="" /></a></div>
									
								</div>
							</li>

							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Selena<br />Gomez</div>
									<div class="schedule-date">MARCH 18th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-3.jpg" alt="" /></a></div>
									
								</div>
							</li>

							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Maria<br />Jopek</div>
									<div class="schedule-date">MARCH 12th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-4.jpg" alt="" /></a></div>
									
								</div>
							</li>

							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Maria<br />Jopek</div>
									<div class="schedule-date">MARCH 12th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-4.jpg" alt="" /></a></div>
									
								</div>
							</li>
							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Maria<br />Jopek</div>
									<div class="schedule-date">MARCH 12th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-4.jpg" alt="" /></a></div>
									
								</div>
							</li>
							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Maria<br />Jopek</div>
									<div class="schedule-date">MARCH 12th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-4.jpg" alt="" /></a></div>
									
								</div>
							</li>
							<li class="schedule-item clearfix">
								<div class="schedule-left">
									<div class="schedule-name">Maria<br />Jopek</div>
									<div class="schedule-date">MARCH 12th</div>
									
								</div>
								<div class="schedule-right">
									<div class="schedule-avatar"><a href="#"><img src="images/temp/schedule-avatar-4.jpg" alt="" /></a></div>
									
								</div>
							</li>
						</ul>
						<a class="prev" id="schedule-prev" href="#">&lsaquo;</a>
						<a class="next" id="schedule-next" href="#">&rsaquo;</a>
					</div>
				</div>

				<script>
					jQuery(document).ready(function ($) {

						function scheduleInit() {
							$('#schedule').carouFredSel({
								swipe : {
									onTouch: true
								},
								prev: '#schedule-prev',
								next: "#schedule-next",
								auto: {
									play: true,
									timeoutDuration: 16000
								},
								scroll: {
									pauseOnHover: true,
									items: 1,
									duration: 500,
									easing: 'swing'
								}
							});
						}

					    scheduleInit();

						$(window).resize(function() {
							scheduleInit();
						});
					});
				</script>
				<!--/ Widget Schedule -->
		</div><!--/ container -->

		<div class="container">
			<div class="row">

			<div id="list" class="col-xs-12 col-sm-9">
				<div id="main_list" class="panel">
					<div class="panel_head">
						<div class="panel_head_text"><a>${requestScope.categoryDisplayNme }</a></div>
						<div class="panel_head_more">
							<a id="layout" onclick="toggleLayout()">〓显示方式</a>
						</div>
					</div>
					<div class="panel_content">
						<ul class="video_list">
							<c:forEach items="${requestScope.resources }" var="resource">  
								<li name="items" class="list_style1">
									<a href="/view.do?videoId=${resource.videoId }" target="_blank" class="preview">
										<img src="${resource.previewImgPath }">
									</a>
									<a target="_blank" class="title">${resource.title }</a>
									<div class="info">
										<a class="gk">播放:<b>${resource.clickCount }</b></a>
										<a class="sc">收藏:<b>${resource.favorCount }</b></a>
										<a class="pl">评分:<b>${resource.score }</b></a>
										<a class="dm">弹幕:<b>${resource.danmuCount }</b></a>
									</div>
									<div class="description">
										${resource.description }
									</div>
									<div class="upper">
										<a href="http://space.bilibili.tv/168694" target="_blank">ClariS大好き</a>
										UP: ${resource.uploadDTM }
									</div>
								</li>
								<li name="items" class="list_style1">
									<a href="/view.do?videoId=${resource.videoId }" target="_blank" class="preview">
										<img src="${resource.previewImgPath }">
									</a>
									<a target="_blank" class="title">${resource.title }</a>
									<div class="info">
										<a class="gk">播放:<b>${resource.clickCount }</b></a>
										<a class="sc">收藏:<b>${resource.favorCount }</b></a>
										<a class="pl">评分:<b>${resource.score }</b></a>
										<a class="dm">弹幕:<b>${resource.danmuCount }</b></a>
									</div>
									<div class="description">
										${resource.description }
									</div>
									<div class="upper">
										<a href="http://space.bilibili.tv/168694" target="_blank">ClariS大好き</a>
										UP: ${resource.uploadDTM }
									</div>
								</li>
							</c:forEach>
						</ul>
						
						<div id="pagination" class="pagination"></div>
						
					</div>
				</div>
			</div>

			<div id="ranking" class="col-xs-6 col-sm-3">
				<div class="ranking_view">
					<div id="caption" class="panel_head">
						<div class="panel_head_text">
							<a>热门视频</a>
						</div>
					</div>
					<div id="center" class="ranking_panel">
						<ul class="ranking_list">
							<c:forEach items="${requestScope.hotResources }" var="item">
								<li>
									<a href="/view.do?videoId=${item.videoId }" title="${item.title } 播放:${item.clickCount } 视频长度:70:40" target="_blank"> 
										<img src="${item.previewImgPath }" />
										<div class="title">${item.title }</div> 
									</a>
									<div class="info">
										<b class="c1">▶${item.clickCount }</b> <b class="c2">▤${item.danmuCount }</b>
									</div>
								</li>
							</c:forEach>
						</ul>

						<div class="more">
							<span>本周播放数最高的视频</span> <a
								href="/list/rank-music.html#hot,1,2013-03-29,2013-04-05"
								target="_blank">更多</a>
						</div>
					</div>
				</div>
			</div>

			</div><!-- end row -->
		</div><!-- end container -->


	</div>
</body>
</html>
