
/*×ó²àµ­Èë*/
.animated {
/* visibility: visible !important; */
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-duration: 1.5s;
-moz-animation-duration: 1.5s;
-ms-animation-duration: 1.5s;
-o-animation-duration: 1.5s;
animation-duration: 1.5s;
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
-moz-animation-name: fadeInLeft;
-o-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}




/*hover±äÉ«*/
.rating-block {
border-radius: 5px;
/*border: 1px solid #D3D3D3;
padding: 20px 20px 0;*/
background-color: #FFF;
-webkit-transition: background-color 0.4s linear;
-moz-transition: background-color 0.4s linear;
-o-transition: background-color 0.4s linear;
-ms-transition: background-color 0.4s linear;
transition: background-color 0.4s linear;
}


.rating-block:hover {
background-color: #D5D5D5 !important;
-webkit-transition: background-color 0.4s linear;
-moz-transition: background-color 0.4s linear;
-o-transition: background-color 0.4s linear;
-ms-transition: background-color 0.4s linear;
transition: background-color 0.4s linear;
}

body {


-webkit-transition: transform 0.4s linear;
-moz-transition: transform 0.4s linear;
-o-transition: transform 0.4s linear;
-ms-transition: transform 0.4s linear;
transition: transform 0.4s linear;
}






