
.sliderContainer {
	height: 100%;
	max-height: 400px;
	padding: 0 0;
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
}

.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0 0 10px -5px #000;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.iosSlider .slider .item .inner .selectorShadow {
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(211, 211, 211, 0.53);
	width: 120px;
	height: 30px;
}

.iosSlider .slider .item .inner .text1 {
	background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: 150px;
    top: 30px;
    padding: 0 2px 0 7px;
    height: 70px;
}

.iosSlider .slider .item .inner .text1 span {
	color: #fff;
    font-family: Norican;
    font-size: 420%;
    line-height: 73px;
    padding: 0 8px;
}

.iosSlider .slider .item .inner .text2 {
	background: none repeat scroll 0 0 #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 5px 7px 7px;
    position: absolute;
    right: 0;
    top: 100px;
}

.iosSlider .slider .item .inner .text2 span {
	color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120%;
    line-height: 120%;
}


.sliderContainer .slideSelectors {
	position: relative;
	bottom: 20px;
	left: 0;
	width: 1024px;
	margin: 0 auto;
	z-index: 1;
	height: 10px;
}

.sliderContainer .slideSelectors .item {
	float: left;
	width: 9px;
	height: 9px;
	border: 1px solid #000;
	background: #999;
	margin: 0 0 0 10px;
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.sliderContainer .slideSelectors .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity=100);
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}

@media screen and (max-width: 1113px) {
	
	.iosSliderDemo {
		padding-bottom: 40%;
	}
	
	.fluidHeight {
		height: 87%;
	}
	
	.iosSlider .slider .item .inner {
		width: 92%;
		margin: 0 4%;
		background-position: 80% 0;
	}
	
	.sliderContainer .slideSelectors {
		width: 92%;
		margin: 0 4%;
	}
	
	.sliderContainer .scrollbarContainer {
		width: 92%;
		margin: 0 4%;
	}
	
}

@media screen and (max-width: 768px) {
	
	.iosSlider .slider .item .inner .text1 {
		top: 15px;
		height: 50px;
	}
	
	.iosSlider .slider .item .inner .text1 span {
		font-size: 300%;
	    line-height: 53px;
	}
	
	.iosSlider .slider .item .inner .text2 {
		top: 65px;
	}
	
	.iosSlider .slider .item .inner .text2 span {
		font-size: 100%;
	    line-height: 105%;
	}
	
}

@media screen and (max-width: 500px) {
	
	.iosSlider .slider .item .inner .text1 {
		display: none;
	}
	
	.iosSlider .slider .item .inner .text2 {
		display: none;
	}
	
}
#bannerAD {height: 300px;
	clear: both;
width: 100%;
margin: 0 0 0 0;
position: relative;
}

