/* CSS Document */
/*修复在bootstrap菜单中使用navbar-form样式时，在菜单的toggle模式下的宽度问题*/
@media (max-width: 768px){
	.navbar-form {
		margin: 0;
	}
}



/*在menu的二级菜单中加入customs-menu样式，覆盖bootstrap的dropdown-menu样式*/
/*只在pc模式下使用，防止影响bootstrap对移动端的样式*/
@media only screen and (min-width: 767px) {
	.customs-menu>li>a {
		width: 100%;
		box-sizing: border-box;
		line-height: 40px;
		font-size: 14px;
		text-decoration: none;
		transition: all .33s;
		float: left;
		border-bottom: solid 1px #eeeeee;
		margin: 0;
		padding: 0px 10px 0px 37px;
		background-color: #fff;
		background: url(../images/icon/list-before.png);
		background-repeat: no-repeat;
		background-position: 15px 14px;
		color: #555;
	}
	.customs-menu>li>a:hover {
		padding-left: 50px;
		padding-right: 0px;
		background: url(../images/icon/list-after.png);
		background-repeat: no-repeat;
		background-position: 28px 14px;
		background-color: #eeeeee;
	}

}



#title span {
	padding: 5px 0 10px 0;
	font-size: 16px;
	color: #777;
	font-family: Arial, 微软雅黑;
}

.panel {
	width: 100%; /*panel宽度=panel_content的宽度+其两边的padding值，708 = 700+4*2 */
	float: left;
	margin: 5px 0 15px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}

.panel_head {
	width: 100%; /*panel宽度=panel_content的宽度+其两边的padding值，708 = 700+4*2 */
	line-height: 27px;
	border-bottom: 1px solid #ddd;
	height: 28px;
	background: -webkit-gradient(linear, left top, left 25, from(#fff),
		color-stop(100%, #f6f6f6), to(#f6f6f6) );
	background: -moz-linear-gradient(top, #fff, #f6f6f6 3px, #f6f6f6 15px);
	text-shadow: #fff 1px 1px 0;
	border-radius: 0.7em 0.7em 0 0;
}

.panel_head_text {
	margin: 1px 0 0 5px;
	font-size: 14px;
	font-family: Arial, 微软雅黑;
	color: #555;
	float: left;
}

.panel_head_more {
	float: right;
	padding-right: 7px;
	font-size: 14px;
	font-family: Arial, 微软雅黑;
	color: #bbb;
}

.panel_content {
	width: 100%;
	border-radius: 0 0 0.7em 0.7em;
	float: left;
	padding: 0.57%; /*面板与内部元素边距*/
	margin-top: 0px; /*与顶部模版标题距离*/
	background: -webkit-gradient(linear, left top, left 25, from(#fff),
		color-stop(100%, #f6f6f6), to(#f6f6f6) );
	background: -moz-linear-gradient(top, #fff, #f6f6f6 3px, #f6f6f6 15px);
}

.panel_content_item {
	position: relative;
	margin: 1%;
	height: 128px;
	float: left;
	overflow: hidden;
	/*width: 23%;/*每个视频Item占的大小,响应式修改*/
}
@media only screen and (min-width: 1200px) {
	.panel_content_item {
	width: 18%;
	}
}
@media only screen and (min-width: 997px) and (max-width:1199px) {
	.panel_content_item {
	width: 23%;
	}
}

@media (min-width: 481px) and (max-width:996px){
	.panel_content_item {
	width: 31%;
	}
}


.panel_content_item a {
	float: left;
	/**/
	width: 100%;
}

.panel_content_item img { /*每个视频的预览画面*/
	/*width: 120px; /*宽高设置*/
	height: 90px;
	/*margin: 4px;*/
	-moz-transition: all .0s linear; /*渐变动画*/
	-webkit-transition: all .0s linear;
	-o-transition: all .0s linear;
	background: rgb(206, 33, 33); /*内部底色*/
	/*padding: 2px; /*内部底色的范围*/
	border: 1px solid #960; /*外部阴影效果*/
	border-radius: 10px; /*四个角圆角效果*/


	/*new*/
	width:98%;
	margin:1%;
	padding: 1%;
}

.panel_content_item_hud { /*视频的预览画面上的hud*/

	/*width: 120px; /*宽和.panel_content_item img中的一致*/
	height: 18px;
	background: #fff;
	position: absolute;
	/*margin: 0 0 0 4px;*/
	/*在.panel_content_item对应的div下，相对与.panel_content_item img的位置关系*/
	top: 74px;
	opacity: .8;
	filter: alpha(opacity =   80);
	border-radius: 0 0 8px 8px;
	/*底边圆角，圆角的半径=panel_content_item img的底边圆角半径-其padding值*/
	z-index: 1; /*叠在对与.panel_content_item img上*/



	/*new*/
	width: 98%;
	margin: 0 1% 0 1%;
}

.panel_content_item_title {
	line-height: 16px;
	color: #111;
	margin-left: 8px;
	text-align: left;
	display: block;
	overflow: hidden;
	width: 120px;
	height: 16px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	text-shadow: 1px 1px 1px #DDD;
}
.panel_content_item a:hover .panel_content_item_title {/*鼠标移上，显示2行的详细标题*/
	color: #333;
	height: 40px;
}

.panel_content_item .info {
	font-weight: normal;
	font-family: Arial;
	font-size: 9px;
	color: #444;
}

.panel_content_item_hud b {
	float: left;
	margin-left: 5px;
}

.panel_content_item_hud i {
	float: right;
	margin-right: 5px;
}

.panel_content_item .ext_info {
	width: 100%;
	height: 14px;
	line-height: 16px;
	text-align: left;
	font-size: 14px;
}

.panel_content_item .ext_info .c1 {
	float: left;
	margin-left: 8px;
}

.panel_content_item .ext_info .c2 {
	float: right;
	margin-right: 8px;
}

.ranking_view {
	float: left;
	margin: 5px 0 15px 0;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}

.ranking_panel {
	padding: 0.7%;
	border-radius: 0 0 0.7% 0.7%;
}

.ranking_list {
	display: block;
	overflow: hidden;
	margin: 0 0 5px 0;
	padding-left: 0px;
}

.ranking_list li {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 1% 0 1% 0;
}

.ranking_list li:nth-of-type(2n) {
	background-color: #f5f5f5;
}

.ranking_list li img {
	border: 1px solid #CCC;
	padding: 2px;
	border-radius: 3px;
	width: 60px;
	height: 45px;
	margin: 2px;
	box-shadow: 0 0 4px #ddd;
	background: white;
	float: left;
}

.ranking_list li .info {
	float: left;
	height: 16px;
	width: 135px;
	margin: 2px 0 0 6px;
	color: #888;
}

.ranking_list li .info b {
	float: left;
	overflow: hidden;
	text-align: left;
	line-height: 16px;
	-webkit-text-size-adjust: none;
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.ranking_list li .info .c1 {
	width: 54px;
	margin-left: 14px;
}

.ranking_list li .info .c2 {
	width: 40px;
	margin-left: 18px;
}

.ranking_panel .more {
	float: left;
	line-height: 16px;
	width: 100%;
}

.ranking_panel .more span {
	display: block;
	float: left;
	padding: 4px 4px 4px 18px;
	color: #BBB;
}

.ranking_panel .more a {
	color: #666;
	text-shadow: #bbb 0 0 5px;
	display: block;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 3px 14px 3px 5px;
	float: right;
}

.recent_list {
	
	margin: 5px 0 15px 0;
	padding: 0px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}

.recent_list ul {
	padding: 0px;
}

.recent_list li {
	line-height: 16px;
	padding: 5px 0 5px 0;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.recent_list li .t {
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	height: 16px;
	line-height: 16px;
	margin: 0 0 0 3px;
	color: #777;
	width: 210px;
	float: left;
}

.recent_list li i {
	color: #bbb;
	margin: 0 6px 2px 1px;
	-webkit-text-size-adjust: none;
	font-size: 10px;
	font-family: Arial;
	float: right;
}



#go-to-top {
background: #ABAFB1;
height: 40px;
width: 40px;
position: fixed;
text-align: center;
font-size: 18px;
padding: 10px;
color: #fff;
right: 25px;
bottom: -100px;
cursor: pointer;
z-index: 999;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;
}



.no-subtitle {
display: block;
background-color: #f9f9f9;
border-radius: 2px 2px 0 0;
position: relative;
height: 40px;
line-height: 40px;
border-bottom: 1px solid #ddd;
text-align: left;
padding-left: 20px;
}


/*左侧边栏*/

.quickpannel {
background: #FFF;
position: fixed;
left: -305px;
/*-webkit-transition: left 0.5s linear;
-moz-transition: left 0.5s linear;
-o-transition: left 0.5s linear;
-ms-transition: left 0.5s linear;*/

-webkit-transition: all 450ms cubic-bezier(0.38, 1, 0.47, 1) 0ms; 
-moz-transition: all 450ms cubic-bezier(0.38, 1, 0.47, 1) 0ms;
-o-transition: all 450ms cubic-bezier(0.38, 1, 0.47, 1) 0ms;
 transition: all 450ms cubic-bezier(0.38, 1, 0.47, 1) 0ms;

top: 96px;
z-index: 999;
box-shadow: 0 0 3px 0 rgba(0,0,0,0.08);

}

.quickpannel * {/*pannel下所有元素层级定义*/
position:relative;
z-index: 999;
}
 .quickpannel  .overlay{
 left: -100%; 
}

.quickpannel.open .overlay {
position: fixed;
height: 100%;
width: 100%;
/*z-index: 9;*/
background-color: rgba(0, 0, 0, 0.54);
left: 0px;
top: 0px;
-webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
-moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
-o-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}


.quickpannel .title {
font-size: 14px;
font-weight: bold;
/*line-height: 48px;
text-align: center;*/
color: #404040;
margin: 0;
}
.quickpannel .content {

/*padding: 2px 18px 10px;*/
width: 305px;
height: 350px;

background-color: inherit;/*内容背景继承pannel的背景*/
}
.quickpannel_toggle {
box-shadow: 0 0 3px 0 rgba(0,0,0,0.08);
background: #FFFFFF;
border-color: #EEEEEE;
border-radius: 0 2px 2px 0;
border-style: solid;
border-width: 1px 1px 1px 0;
display: block;
height: 44px;
position: absolute;
right: -44px;
/*text-indent: -9999px;*/
top: -42px;
width: 44px;
cursor: pointer;
}
#quickpannel.open {
left: 0;
}

.quickpannel_toggle .icon_face{
border: 3px solid #EEEEEE;
border-radius: 28px;
box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
display: inline-block;
height: 48px;
margin-top: -4px;
margin-left: -4px;
vertical-align: middle;
width: 48px;
}

.quickpannel ul li {
font-size: 12px;
}







/**/
.dyn_list li{
width: auto;
padding: 10px 10px;
border-top: 1px solid #ddd;
zoom: 1;
}
.dyn_list li .preview {
background: #fff;
width: 40px;
height: 40px;
float: left;
margin-right: 10px;
border-radius: 4px;
overflow: hidden;
}
.dyn_list .preview img {
width:100%;
}
.dyn_list .title {
height: 20px;
line-height: 20px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.dyn_list .info {
line-height: 20px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.wnd_bottom {
background-color: #f9f9f9;
border-radius: 0 0 2px 2px;
border-top: 1px solid #ddd;
}
.wnd_bottom .r-l {
line-height: 30px;
height: 30px;
position: relative;
}



/**/


 .history li.timeline {
color: #aaa;

}
 .history li {
padding-left: 15px;

clear: both;
position: relative;
padding-left: 15px;
border-left: 1px solid #ddd;

height: 25px;
line-height: 25px;
padding: 3px 0;
text-align: left;
font-size: 12px;

overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: block;
}
.dot {
position: absolute;
width: 10px;
height: 10px;
background: #ddd;
border-radius: 10px;
left: -5px;
top: 10px;
}
.d-line {
position: absolute;
width: 1px;
height: 25px;
background: #ddd;
left: 0;
top: 10px;
}