<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context-3.1.xsd 
                http://www.springframework.org/schema/mvc 
                http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

 	<context:annotation-config />
	<!-- 使Spring支持自动检测组件，如注解的Controller -->
 	<context:component-scan base-package="com.dd.danmaku" />
	<!-- spring的子配置文件中还是要加上，否则不生效 -->
	<mvc:annotation-driven /> 

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/views/" />
<!-- 		<property name="suffix" value=".jsp" /> -->
		<!-- 如果使用jstl的话，配置下面的属性 -->
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean>

	<!-- 靜態資源訪問 -->
<!-- 	<mvc:resources mapping="/images/**" location="/images/" cache-period="31556926"/>     -->
<!-- 	<mvc:resources mapping="/js/**" location="/js/" cache-period="31556926"/>     -->
<!-- 	<mvc:resources mapping="/css/**" location="/css/" cache-period="31556926"/> -->
<!-- 	<mvc:default-servlet-handler/>  -->
	
	<!-- 对mvc使用拦截器，这种方式不会拦截静态资源的请求 -->
<!-- 	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">   -->
<!-- 	       <property name="interceptors">   -->
<!-- 	           <list>   -->
<!-- 	               <bean class="com.MyHandlerInterceptor"/>   -->
<!-- 	           </list>   -->
<!-- 	       </property>   -->
<!-- 	</bean>   -->


	<!--    SpringMVC上传文件时，处理文件的解析器，还可以配置文件的大小和异常处理-->
	<!-- 但是在后端配置文件的大小是不明智的，一般前端的上传文件插件中都提供了这个功能， 所以在前端设置会更好 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 表示用来解析request请求的默认编码格式，当没有指定的时候根据Servlet规范会使用默认值ISO-8859-1。当request自己指明了它的编码格式的时候就会忽略这里指定的defaultEncoding。 -->
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 设置上传文件时的临时目录，路径是相对于项目WebRoot下的路径，默认是Servlet容器的临时目录。 -->
		<property name="uploadTempDir" value="/tmp/" />
		<!-- maxUploadSize：设置允许上传的最大文件大小，以字节为单位计算。当设为-1时表示无限制，默认是-1。 -->
<!-- 		<property name="maxUploadSize" value="-1"/>  -->
		<!-- maxInMemorySize：设置在文件上传时允许写到内存中的最大值，以字节为单位计算，默认是10240。 -->
<!-- 		<property name="maxInMemorySize" value="100000"/>  -->
	</bean>  
</beans>